Primero importamos las librerías

In [4]:
from pyspainmobility import Mobility, Zones
import pandas as pd 
import seaborn as sns
import matplotlib.pyplot as plt

Vamos a extraer los datos para cada zona para luego unirlos para que tenga esta estructura: date, zone level (district/municipal/GAU), and source (MITMA/INE).

Primero extraemos por distritos:

In [ ]:
# YA EJECUTADO
# getting 1 week of mobility data. In this case, we download the data from November 13 to November 19 in 2023 as it was 2 years ago exactly ensuring it goes from Monday to Sunday.
#mobility_data_distritos = Mobility(version=2, zones='distritos', start_date='2023-11-13', end_date='2023-11-19')
# and we extract the OD matrices 
#mobility_data_distritos.get_od_data()

Downloading file from https://movilidad-opendata.mitma.es/estudios_basicos/por-distritos/viajes/ficheros-diarios/2023-11/20231113_Viajes_distritos.csv.gz
Downloading: https://movilidad-opendata.mitma.es/estudios_basicos/por-distritos/viajes/ficheros-diarios/2023-11/20231113_Viajes_distritos.csv.gz
Saved 186275035 bytes to C:\Users\carlo\data\20231113_Viajes_distritos_v2.csv.gz
Downloading file from https://movilidad-opendata.mitma.es/estudios_basicos/por-distritos/viajes/ficheros-diarios/2023-11/20231114_Viajes_distritos.csv.gz
Downloading: https://movilidad-opendata.mitma.es/estudios_basicos/por-distritos/viajes/ficheros-diarios/2023-11/20231114_Viajes_distritos.csv.gz
Saved 206978853 bytes to C:\Users\carlo\data\20231114_Viajes_distritos_v2.csv.gz
Downloading file from https://movilidad-opendata.mitma.es/estudios_basicos/por-distritos/viajes/ficheros-diarios/2023-11/20231115_Viajes_distritos.csv.gz
Downloading: https://movilidad-opendata.mitma.es/estudios_basicos/por-distritos/viajes/ficheros-diarios/2023-11/20231115_Viajes_distritos.csv.gz
Saved 191497869 bytes to C:\Users\carlo\data\20231115_Viajes_distritos_v2.csv.gz
Downloading file from https://movilidad-opendata.mitma.es/estudios_basicos/por-distritos/viajes/ficheros-diarios/2023-11/20231116_Viajes_distritos.csv.gz
Downloading: https://movilidad-opendata.mitma.es/estudios_basicos/por-distritos/viajes/ficheros-diarios/2023-11/20231116_Viajes_distritos.csv.gz
Saved 191881906 bytes to C:\Users\carlo\data\20231116_Viajes_distritos_v2.csv.gz
Downloading file from https://movilidad-opendata.mitma.es/estudios_basicos/por-distritos/viajes/ficheros-diarios/2023-11/20231117_Viajes_distritos.csv.gz
Downloading: https://movilidad-opendata.mitma.es/estudios_basicos/por-distritos/viajes/ficheros-diarios/2023-11/20231117_Viajes_distritos.csv.gz
Saved 199736808 bytes to C:\Users\carlo\data\20231117_Viajes_distritos_v2.csv.gz
Downloading file from https://movilidad-opendata.mitma.es/estudios_basicos/por-distritos/viajes/ficheros-diarios/2023-11/20231118_Viajes_distritos.csv.gz
Downloading: https://movilidad-opendata.mitma.es/estudios_basicos/por-distritos/viajes/ficheros-diarios/2023-11/20231118_Viajes_distritos.csv.gz
Saved 177548008 bytes to C:\Users\carlo\data\20231118_Viajes_distritos_v2.csv.gz
Downloading file from https://movilidad-opendata.mitma.es/estudios_basicos/por-distritos/viajes/ficheros-diarios/2023-11/20231119_Viajes_distritos.csv.gz
Downloading: https://movilidad-opendata.mitma.es/estudios_basicos/por-distritos/viajes/ficheros-diarios/2023-11/20231119_Viajes_distritos.csv.gz
Saved 152101186 bytes to C:\Users\carlo\data\20231119_Viajes_distritos_v2.csv.gz
Generating parquet file for ODs....

  0%|          | 0/7 [00:00<?, ?it/s]

Processing file: C:\Users\carlo\data\20231113_Viajes_distritos_v2.csv.gz
Reading gzipped file...

 14%|█▍        | 1/7 [00:59<05:54, 59.04s/it]

Processing file: C:\Users\carlo\data\20231114_Viajes_distritos_v2.csv.gz
Reading gzipped file...

 29%|██▊       | 2/7 [01:47<04:24, 52.97s/it]

Processing file: C:\Users\carlo\data\20231115_Viajes_distritos_v2.csv.gz
Reading gzipped file...

 43%|████▎     | 3/7 [02:47<03:44, 56.06s/it]

Processing file: C:\Users\carlo\data\20231116_Viajes_distritos_v2.csv.gz
Reading gzipped file...

 57%|█████▋    | 4/7 [03:50<02:55, 58.61s/it]

Processing file: C:\Users\carlo\data\20231117_Viajes_distritos_v2.csv.gz
Reading gzipped file...

 71%|███████▏  | 5/7 [04:53<02:00, 60.25s/it]

Processing file: C:\Users\carlo\data\20231118_Viajes_distritos_v2.csv.gz
Reading gzipped file...

 86%|████████▌ | 6/7 [05:49<00:59, 59.07s/it]

Processing file: C:\Users\carlo\data\20231119_Viajes_distritos_v2.csv.gz
Reading gzipped file...

100%|██████████| 7/7 [06:38<00:00, 56.88s/it]

Concatenating all the dataframes....
Writing the parquet file....
Parquet file generated successfully at  C:\Users\carlo\data\Viajes_distritos_2023-11-13_2023-11-19_v2.parquet

In [5]:
df_distritos = pd.read_parquet('C:/Users/carlo/data/Viajes_distritos_2023-11-13_2023-11-19_v2.parquet')
print(df_distritos)

                date  hour id_origin id_destination  n_trips  \
0         2023-11-13     0     01001          01001   13.064
1         2023-11-13     0     01001       01009_AM   16.660
2         2023-11-13     0     01001       01058_AM    6.720
3         2023-11-13     0     01001        0105902   10.807
4         2023-11-13     0     01001        0105903   15.979
...              ...   ...       ...            ...      ...
22337972  2023-11-19    23   externo          43901    5.814
22337973  2023-11-19    23   externo        4801308    1.000
22337974  2023-11-19    23   externo        4802002    3.460
22337975  2023-11-19    23   externo       49261_AM    2.488
22337976  2023-11-19    23   externo        5029707    1.000

          trips_total_length_km
0                        52.925
1                        79.645
2                        85.175
3                       153.921
4                       178.759
...                         ...
22337972                780.041
22337973                  3.871
22337974                 12.636
22337975                514.573
22337976                  8.298

[22337977 rows x 6 columns]

Luego por municipios:

In [ ]:
# YA EJECUTADO

# getting 1 week of mobility data. In this case, we download the data from November 13 to November 19 in 2023 as it was 2 years ago exactly ensuring it goes from Monday to Sunday.
#mobility_data_municipios = Mobility(version=2, zones='municipios', start_date='2023-11-13', end_date='2023-11-19')
# and we extract the OD matrices 
#mobility_data_municipios.get_od_data()

Downloading file from https://movilidad-opendata.mitma.es/estudios_basicos/por-municipios/viajes/ficheros-diarios/2023-11/20231113_Viajes_municipios.csv.gz
Downloading: https://movilidad-opendata.mitma.es/estudios_basicos/por-municipios/viajes/ficheros-diarios/2023-11/20231113_Viajes_municipios.csv.gz
Saved 128831728 bytes to C:\Users\carlo\data\20231113_Viajes_municipios_v2.csv.gz
Downloading file from https://movilidad-opendata.mitma.es/estudios_basicos/por-municipios/viajes/ficheros-diarios/2023-11/20231114_Viajes_municipios.csv.gz
Downloading: https://movilidad-opendata.mitma.es/estudios_basicos/por-municipios/viajes/ficheros-diarios/2023-11/20231114_Viajes_municipios.csv.gz
Saved 131274644 bytes to C:\Users\carlo\data\20231114_Viajes_municipios_v2.csv.gz
Downloading file from https://movilidad-opendata.mitma.es/estudios_basicos/por-municipios/viajes/ficheros-diarios/2023-11/20231115_Viajes_municipios.csv.gz
Downloading: https://movilidad-opendata.mitma.es/estudios_basicos/por-municipios/viajes/ficheros-diarios/2023-11/20231115_Viajes_municipios.csv.gz
Saved 131690788 bytes to C:\Users\carlo\data\20231115_Viajes_municipios_v2.csv.gz
Downloading file from https://movilidad-opendata.mitma.es/estudios_basicos/por-municipios/viajes/ficheros-diarios/2023-11/20231116_Viajes_municipios.csv.gz
Downloading: https://movilidad-opendata.mitma.es/estudios_basicos/por-municipios/viajes/ficheros-diarios/2023-11/20231116_Viajes_municipios.csv.gz
Saved 132327113 bytes to C:\Users\carlo\data\20231116_Viajes_municipios_v2.csv.gz
Downloading file from https://movilidad-opendata.mitma.es/estudios_basicos/por-municipios/viajes/ficheros-diarios/2023-11/20231117_Viajes_municipios.csv.gz
Downloading: https://movilidad-opendata.mitma.es/estudios_basicos/por-municipios/viajes/ficheros-diarios/2023-11/20231117_Viajes_municipios.csv.gz
Saved 138138752 bytes to C:\Users\carlo\data\20231117_Viajes_municipios_v2.csv.gz
Downloading file from https://movilidad-opendata.mitma.es/estudios_basicos/por-municipios/viajes/ficheros-diarios/2023-11/20231118_Viajes_municipios.csv.gz
Downloading: https://movilidad-opendata.mitma.es/estudios_basicos/por-municipios/viajes/ficheros-diarios/2023-11/20231118_Viajes_municipios.csv.gz
Saved 127612917 bytes to C:\Users\carlo\data\20231118_Viajes_municipios_v2.csv.gz
Downloading file from https://movilidad-opendata.mitma.es/estudios_basicos/por-municipios/viajes/ficheros-diarios/2023-11/20231119_Viajes_municipios.csv.gz
Downloading: https://movilidad-opendata.mitma.es/estudios_basicos/por-municipios/viajes/ficheros-diarios/2023-11/20231119_Viajes_municipios.csv.gz
Saved 113811607 bytes to C:\Users\carlo\data\20231119_Viajes_municipios_v2.csv.gz
Generating parquet file for ODs....

  0%|          | 0/7 [00:00<?, ?it/s]

Processing file: C:\Users\carlo\data\20231113_Viajes_municipios_v2.csv.gz
Reading gzipped file...

 14%|█▍        | 1/7 [00:33<03:21, 33.55s/it]

Processing file: C:\Users\carlo\data\20231114_Viajes_municipios_v2.csv.gz
Reading gzipped file...

 29%|██▊       | 2/7 [01:05<02:43, 32.74s/it]

Processing file: C:\Users\carlo\data\20231115_Viajes_municipios_v2.csv.gz
Reading gzipped file...

 43%|████▎     | 3/7 [01:38<02:10, 32.55s/it]

Processing file: C:\Users\carlo\data\20231116_Viajes_municipios_v2.csv.gz
Reading gzipped file...

 57%|█████▋    | 4/7 [02:10<01:37, 32.55s/it]

Processing file: C:\Users\carlo\data\20231117_Viajes_municipios_v2.csv.gz
Reading gzipped file...

 71%|███████▏  | 5/7 [02:44<01:06, 33.01s/it]

Processing file: C:\Users\carlo\data\20231118_Viajes_municipios_v2.csv.gz
Reading gzipped file...

 86%|████████▌ | 6/7 [03:16<00:32, 32.72s/it]

Processing file: C:\Users\carlo\data\20231119_Viajes_municipios_v2.csv.gz
Reading gzipped file...

100%|██████████| 7/7 [03:44<00:00, 32.06s/it]

Concatenating all the dataframes....
Writing the parquet file....
Parquet file generated successfully at  C:\Users\carlo\data\Viajes_municipios_2023-11-13_2023-11-19_v2.parquet

In [6]:
df_municipios = pd.read_parquet('C:/Users/carlo/data/Viajes_municipios_2023-11-13_2023-11-19_v2.parquet')
print(df_municipios)

                date  hour id_origin id_destination  n_trips  \
0         2023-11-13     0     01001          01001   13.064
1         2023-11-13     0     01001       01009_AM   16.660
2         2023-11-13     0     01001       01058_AM    6.720
3         2023-11-13     0     01001          01059   38.340
4         2023-11-13     0     01002          01002  264.818
...              ...   ...       ...            ...      ...
11408718  2023-11-19    23   externo          43901    5.814
11408719  2023-11-19    23   externo          48013    1.000
11408720  2023-11-19    23   externo          48020    3.460
11408721  2023-11-19    23   externo       49261_AM    2.488
11408722  2023-11-19    23   externo          50297    1.000

          trips_total_length_km
0                        52.925
1                        79.645
2                        85.175
3                       463.621
4                       972.675
...                         ...
11408718                780.041
11408719                  3.871
11408720                 12.636
11408721                514.573
11408722                  8.298

[11408723 rows x 6 columns]

Y finalmente por GAUs:

In [ ]:
# YA EJECUTADO

# getting 1 week of mobility data. In this case, we download the data from November 13 to November 19 in 2023 as it was 2 years ago exactly ensuring it goes from Monday to Sunday.
#mobility_data_gaus = Mobility(version=2, zones='gaus', start_date='2023-11-13', end_date='2023-11-19')
# and we extract the OD matrices 
#mobility_data_gaus.get_od_data()

Downloading file from https://movilidad-opendata.mitma.es/estudios_basicos/por-GAU/viajes/ficheros-diarios/2023-11/20231113_Viajes_GAU.csv.gz
Downloading: https://movilidad-opendata.mitma.es/estudios_basicos/por-GAU/viajes/ficheros-diarios/2023-11/20231113_Viajes_GAU.csv.gz
Saved 80686776 bytes to C:\Users\carlo\data\20231113_Viajes_GAU_v2.csv.gz
Downloading file from https://movilidad-opendata.mitma.es/estudios_basicos/por-GAU/viajes/ficheros-diarios/2023-11/20231114_Viajes_GAU.csv.gz
Downloading: https://movilidad-opendata.mitma.es/estudios_basicos/por-GAU/viajes/ficheros-diarios/2023-11/20231114_Viajes_GAU.csv.gz
Saved 81913610 bytes to C:\Users\carlo\data\20231114_Viajes_GAU_v2.csv.gz
Downloading file from https://movilidad-opendata.mitma.es/estudios_basicos/por-GAU/viajes/ficheros-diarios/2023-11/20231115_Viajes_GAU.csv.gz
Downloading: https://movilidad-opendata.mitma.es/estudios_basicos/por-GAU/viajes/ficheros-diarios/2023-11/20231115_Viajes_GAU.csv.gz
Saved 82192614 bytes to C:\Users\carlo\data\20231115_Viajes_GAU_v2.csv.gz
Downloading file from https://movilidad-opendata.mitma.es/estudios_basicos/por-GAU/viajes/ficheros-diarios/2023-11/20231116_Viajes_GAU.csv.gz
Downloading: https://movilidad-opendata.mitma.es/estudios_basicos/por-GAU/viajes/ficheros-diarios/2023-11/20231116_Viajes_GAU.csv.gz
Saved 82874537 bytes to C:\Users\carlo\data\20231116_Viajes_GAU_v2.csv.gz
Downloading file from https://movilidad-opendata.mitma.es/estudios_basicos/por-GAU/viajes/ficheros-diarios/2023-11/20231117_Viajes_GAU.csv.gz
Downloading: https://movilidad-opendata.mitma.es/estudios_basicos/por-GAU/viajes/ficheros-diarios/2023-11/20231117_Viajes_GAU.csv.gz
Saved 87464852 bytes to C:\Users\carlo\data\20231117_Viajes_GAU_v2.csv.gz
Downloading file from https://movilidad-opendata.mitma.es/estudios_basicos/por-GAU/viajes/ficheros-diarios/2023-11/20231118_Viajes_GAU.csv.gz
Downloading: https://movilidad-opendata.mitma.es/estudios_basicos/por-GAU/viajes/ficheros-diarios/2023-11/20231118_Viajes_GAU.csv.gz
Saved 83439265 bytes to C:\Users\carlo\data\20231118_Viajes_GAU_v2.csv.gz
Downloading file from https://movilidad-opendata.mitma.es/estudios_basicos/por-GAU/viajes/ficheros-diarios/2023-11/20231119_Viajes_GAU.csv.gz
Downloading: https://movilidad-opendata.mitma.es/estudios_basicos/por-GAU/viajes/ficheros-diarios/2023-11/20231119_Viajes_GAU.csv.gz
Saved 76461439 bytes to C:\Users\carlo\data\20231119_Viajes_GAU_v2.csv.gz
Generating parquet file for ODs....

  0%|          | 0/7 [00:00<?, ?it/s]

Processing file: C:\Users\carlo\data\20231113_Viajes_GAU_v2.csv.gz
Reading gzipped file...

 14%|█▍        | 1/7 [00:20<02:03, 20.64s/it]

Processing file: C:\Users\carlo\data\20231114_Viajes_GAU_v2.csv.gz
Reading gzipped file...

 29%|██▊       | 2/7 [00:40<01:41, 20.31s/it]

Processing file: C:\Users\carlo\data\20231115_Viajes_GAU_v2.csv.gz
Reading gzipped file...

 43%|████▎     | 3/7 [01:00<01:20, 20.23s/it]

Processing file: C:\Users\carlo\data\20231116_Viajes_GAU_v2.csv.gz
Reading gzipped file...

 57%|█████▋    | 4/7 [01:21<01:00, 20.24s/it]

Processing file: C:\Users\carlo\data\20231117_Viajes_GAU_v2.csv.gz
Reading gzipped file...

 71%|███████▏  | 5/7 [01:42<00:41, 20.70s/it]

Processing file: C:\Users\carlo\data\20231118_Viajes_GAU_v2.csv.gz
Reading gzipped file...

 86%|████████▌ | 6/7 [02:03<00:20, 20.60s/it]

Processing file: C:\Users\carlo\data\20231119_Viajes_GAU_v2.csv.gz
Reading gzipped file...

100%|██████████| 7/7 [02:21<00:00, 20.20s/it]

Concatenating all the dataframes....
Writing the parquet file....
Parquet file generated successfully at  C:\Users\carlo\data\Viajes_GAU_2023-11-13_2023-11-19_v2.parquet

In [7]:
df_gaus = pd.read_parquet('C:/Users/carlo/data/Viajes_GAU_2023-11-13_2023-11-19_v2.parquet')
print(df_gaus)

               date  hour id_origin                          id_destination  \
0        2023-11-13     0     01001                                   01001
1        2023-11-13     0     01001                                01009_AM
2        2023-11-13     0     01001                                01058_AM
3        2023-11-13     0     01001                     GAU Vitoria/Gasteiz
4        2023-11-13     0     01002                                   01002
...             ...   ...       ...                                     ...
6464589  2023-11-19    23   externo                   GAU Palma de Mallorca
6464590  2023-11-19    23   externo               GAU Sant Feliú de Guixols
6464591  2023-11-19    23   externo  GAU Santa Cruz de Tenerife - La Laguna
6464592  2023-11-19    23   externo                   GAU Vigo - Pontevedra
6464593  2023-11-19    23   externo                            GAU Zaragoza

         n_trips  trips_total_length_km
0         13.064                 52.925
1         16.660                 79.645
2          6.720                 85.175
3         38.340                463.621
4        264.818                972.675
...          ...                    ...
6464589    2.970                 55.432
6464590    3.073                 90.415
6464591   40.136                155.290
6464592    1.578                 33.811
6464593    1.000                  8.298

[6464594 rows x 6 columns]

Ahora unimos los dataframes:

In [8]:
df_distritos['zone_level'] = 'distrito'
df_municipios['zone_level'] = 'municipio'
df_gaus['zone_level'] = 'GAU'
df_distritos['source'] = 'MITMA'
df_municipios['source'] = 'MITMA'
df_gaus['source'] = 'MITMA'

df_bronze = pd.concat([df_distritos, df_municipios, df_gaus])
print(df_bronze.head())

         date  hour id_origin id_destination  n_trips  trips_total_length_km  \
0  2023-11-13     0     01001          01001   13.064                 52.925
1  2023-11-13     0     01001       01009_AM   16.660                 79.645
2  2023-11-13     0     01001       01058_AM    6.720                 85.175
3  2023-11-13     0     01001        0105902   10.807                153.921
4  2023-11-13     0     01001        0105903   15.979                178.759

  zone_level source
0   distrito  MITMA
1   distrito  MITMA
2   distrito  MITMA
3   distrito  MITMA
4   distrito  MITMA

Ahora faltaría añadir los datos del INE

Probamos a crear una tabla de prueba para ver los datos:

In [10]:
import duckdb

con = duckdb.connect()

# Registra el DataFrame como una vista temporal en DuckDB
con.register('df_bronze', df_bronze)

# Usa SQL para crear o reemplazar la tabla a partir de la vista temporal
con.execute("""
    CREATE OR REPLACE TABLE bronze_mitma_prueba AS SELECT * FROM df_bronze
""")

con.execute("""
    SELECT * FROM bronze_mitma_prueba LIMIT 50
""").fetchdf()

,date,hour,id_origin,id_destination,n_trips,trips_total_length_km,zone_level,source
0,2023-11-13,0,01001,01001,13.064,52.925,distrito,MITMA
1,2023-11-13,0,01001,01009_AM,16.660,79.645,distrito,MITMA
2,2023-11-13,0,01001,01058_AM,6.720,85.175,distrito,MITMA
3,2023-11-13,0,01001,0105902,10.807,153.921,distrito,MITMA
4,2023-11-13,0,01001,0105903,15.979,178.759,distrito,MITMA
5,2023-11-13,0,01001,0105904,3.973,50.294,distrito,MITMA
6,2023-11-13,0,01001,0105906,7.581,80.647,distrito,MITMA
7,2023-11-13,0,01002,01002,264.818,972.675,distrito,MITMA
8,2023-11-13,0,01002,01010,47.678,270.114,distrito,MITMA
9,2023-11-13,0,01002,01036,26.014,267.914,distrito,MITMA
10,2023-11-13,0,01002,09209_AM,4.023,58.487,distrito,MITMA
11,2023-11-13,0,01002,09410,4.934,107.395,distrito,MITMA
12,2023-11-13,0,01004_AM,01010,2.867,15.363,distrito,MITMA
13,2023-11-13,0,01004_AM,01036,4.333,14.864,distrito,MITMA
14,2023-11-13,0,01004_AM,39002,3.791,106.300,distrito,MITMA
15,2023-11-13,0,01009_AM,01001,17.500,84.044,distrito,MITMA
16,2023-11-13,0,01009_AM,01009_AM,49.718,344.405,distrito,MITMA
17,2023-11-13,0,01009_AM,01051,55.073,347.920,distrito,MITMA
18,2023-11-13,0,01009_AM,01058_AM,8.086,66.136,distrito,MITMA
19,2023-11-13,0,01009_AM,0105901,5.293,146.109,distrito,MITMA
20,2023-11-13,0,01009_AM,0105902,11.823,169.507,distrito,MITMA
21,2023-11-13,0,01009_AM,0105903,10.615,135.242,distrito,MITMA
22,2023-11-13,0,01009_AM,0105904,7.501,88.342,distrito,MITMA
23,2023-11-13,0,01009_AM,0105905,5.728,88.832,distrito,MITMA
24,2023-11-13,0,01009_AM,0105906,3.536,79.233,distrito,MITMA
25,2023-11-13,0,01009_AM,2608903,3.543,141.637,distrito,MITMA
26,2023-11-13,0,01009_AM,48082,2.667,206.528,distrito,MITMA
27,2023-11-13,0,01010,01002,54.876,241.094,distrito,MITMA
28,2023-11-13,0,01010,01010,9.060,17.939,distrito,MITMA
29,2023-11-13,0,01010,01036,2.717,16.025,distrito,MITMA
30,2023-11-13,0,01010,01054_AM,5.907,72.445,distrito,MITMA
31,2023-11-13,0,01010,48074,3.667,21.043,distrito,MITMA
32,2023-11-13,0,01017_AM,01009_AM,4.972,42.644,distrito,MITMA
33,2023-11-13,0,01017_AM,01017_AM,59.943,344.355,distrito,MITMA
34,2023-11-13,0,01017_AM,01028_AM,13.951,113.406,distrito,MITMA
35,2023-11-13,0,01017_AM,01043,2.934,26.225,distrito,MITMA
36,2023-11-13,0,01017_AM,0105903,2.071,42.098,distrito,MITMA
37,2023-11-13,0,01017_AM,0105905,2.925,58.218,distrito,MITMA
38,2023-11-13,0,01017_AM,09109_AM,10.041,140.715,distrito,MITMA
39,2023-11-13,0,01017_AM,31029_AM,2.500,46.362,distrito,MITMA
40,2023-11-13,0,01028_AM,01004_AM,3.400,187.877,distrito,MITMA
41,2023-11-13,0,01028_AM,01017_AM,16.047,76.198,distrito,MITMA
42,2023-11-13,0,01028_AM,01028_AM,83.166,210.045,distrito,MITMA
43,2023-11-13,0,01028_AM,01047_AM,5.548,46.205,distrito,MITMA
44,2023-11-13,0,01028_AM,0105906,3.882,70.693,distrito,MITMA
45,2023-11-13,0,01028_AM,09219,7.956,54.144,distrito,MITMA
46,2023-11-13,0,01028_AM,26042_AM,3.977,33.317,distrito,MITMA
47,2023-11-13,0,01028_AM,26064,4.636,61.714,distrito,MITMA
48,2023-11-13,0,01028_AM,26071_AM,12.453,58.572,distrito,MITMA
49,2023-11-13,0,01028_AM,2608902,9.771,75.197,distrito,MITMA

Probamos a mostrar 3 trayectos por zona ordenado de mayor a menor distancia recorrida para ver que todo haya funcionado:

In [14]:
con.execute("""
    SELECT *
    FROM (
        SELECT *,
            ROW_NUMBER() OVER (
                PARTITION BY zone_level ORDER BY trips_total_length_km DESC
            ) AS rn
        FROM bronze_mitma_prueba
    )
    WHERE rn <= 3
    ORDER BY zone_level, trips_total_length_km DESC
""").fetchdf()

,date,hour,id_origin,id_destination,n_trips,trips_total_length_km,zone_level,source,rn
0,2023-11-14,8,GAU Madrid,GAU Madrid,1333753.278,8207151.769,GAU,MITMA,1
1,2023-11-15,8,GAU Madrid,GAU Madrid,1314064.580,8118410.134,GAU,MITMA,2
2,2023-11-15,7,GAU Madrid,GAU Madrid,1058607.976,7976007.997,GAU,MITMA,3
3,2023-11-15,7,0801903,2807921,243.139,120398.383,distrito,MITMA,1
4,2023-11-19,12,2807917,38036_AM,53.750,99857.164,distrito,MITMA,2
5,2023-11-18,14,0801903,2807901,189.888,95659.459,distrito,MITMA,3
6,2023-11-14,8,28079,28079,614478.588,2293885.889,municipio,MITMA,1
7,2023-11-15,8,28079,28079,604827.402,2250485.934,municipio,MITMA,2
8,2023-11-16,8,28079,28079,591491.025,2211986.391,municipio,MITMA,3